*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999;
}

#top-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #23232c;
    color: #ffffff;
    width: 100%;
    padding: 2px;
    font-weight: 400;
    font-size: medium;
    margin: 0px 0px 5px 0px;
}

.img-top-info{
    padding: 0px 15px 0px 0px;
}

#secciones-nav a{
    padding: 0px 15px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

#banner{
    width: 100%;
}

.img-banner{
    width: 100%;
    height: 90%;
}

#inicio-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.titulo-drops-travis{
    font-weight: 600;
}

.cards-inicio{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-inicio-travis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.125);
}

.card-body-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.card-footer-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.125);
}

#formulario-off{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.banner-off{
    width: 100%;
}

.formulario-sub{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: #000000;
    gap: 50px;
    text-shadow: 1px  0px 0px #ffffff,
                 0px  1px 0px #ffffff,
                 -1px  0px 0px #ffffff,
                 0px -1px 0px #ffffff;
    font-family: 'Open Sans';
}

.inputs-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    outline: none;
    border: 2.8px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
}

.inputs-form input{
    border: none;
    outline: none;
    margin: 5px;
}

.input-submit{
    background-color: #000000;
    color: #ffffff;
    padding: 0px 7px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Permanent Marker';
}

.texto-portada{
    font-size: 2.2rem;
}

#contact-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}

.listas-contactos-redes{
    display: flex;
    flex-direction: column;
}

.listas-ubicacion-contactos{
    display: flex;
    flex-direction: row;
}

.lista-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
    gap: 3px;
}

.link-lista-contact{
    color: #212529;
    text-decoration: none;
    cursor: pointer;
}

.lista-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0, 0, 0, 0.027);
}